.portfolio__section__container{
    max-width: 1200px;
    margin: 180px auto 0px auto;
}

.portfolio__section__container .portfolio__header{
    color: #9b59b6;
    font-size: 80px;
    margin-bottom: 40px;
}

.portfolio__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 1rem;
}

.portfolio__image{
    width: 100%;
    border-radius: 5px;
}

.show__more__button{
    padding: 15px 80px;
    font-size: 1.5rem;
    border: 1px solid white;
    margin-top: 10px;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 767px) {
    .portfolio__section__container{
        margin-top: 50px;
    }
    
    .portfolio__section__container .portfolio__header{
        font-size: 60px;
        text-align: center;
    }
    
    .portfolio__content{
        grid-template-columns: repeat(1, 1fr);
        padding: 0px 70px;
    }
    
    .portfolio__image{
        width: 100%;
    }
    
    .show__more__button{
        padding: 5px 40px;
    }
}