.portfolio__section__container{
    max-width: 1200px;
    margin: 180px auto 0px auto;
}

.portfolio__section__container .portfolio__header{
    color: #3498db;
    font-size: 80px;
    margin-bottom: 40px;
}

.portfolio__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 1rem;
    padding: 0px 80px;
}

.content{
    overflow: hidden;
    position: relative;
}

.content__layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    transform: translateY(100%);
    transition: .5s ease-out;
    opacity: .9;
}

.content:hover .content__layer{
    transform: translateY(0%);
}

.content__layer a{
    text-decoration: none;
    text-align: center;
}

.content__layer a i{
    font-size: 100px;
}

.portfolio__image{
    width: 100%;
    border-radius: 5px;
    transition: .5s ease-out;
}

.portfolio__image:hover{
    transform: scale(1.1);
}

.show__more__button{
    padding: 15px 80px;
    font-size: 1.5rem;
    border: 1px solid white;
    margin-top: 10px;
    margin: 0 auto;
    display: block;
    margin-top: 60px;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 767px) {
    .portfolio__section__container{
        margin-top: 50px;
    }
    
    .portfolio__section__container .portfolio__header{
        font-size: 60px;
        text-align: center;
    }
    
    .portfolio__content{
        grid-template-columns: repeat(1, 1fr);
        padding: 0px 70px;
    }
    
    .portfolio__image{
        width: 100%;
    }

    .content__layer{
        font-size: 25px;
    }
    
    .show__more__button{
        padding: 5px 40px;
    }

    .content__layer a i{
        font-size: 70px;
    }
}