.about__section__container{
    max-width: 1200px;
    margin: 180px auto 0px auto;
}

.about__section__container h1{
    color: #3498db;
    font-size: 80px;
    text-align: right;
    margin-bottom: 40px;
}

.about__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.about__skills{
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.about__skills p{
    padding: 10px 20px;
    border: 1px solid white;
    font-size: 30px;
    flex-grow: 1;
}

.about__skills :first-child{
    width: 100%;
    background-color: #1a9ebc;
    text-align: center;
}

.about__experiance p{
    font-size: 1.2rem;
    text-align: justify;
}

@media (max-width: 767px) {
    .about__section__container{
        margin-top: 50px;
        padding: 0px 10px;
    }

    .about__section__container h1{
        font-size: 60px;
        text-align: center;
    }

    .about__content{
        flex-direction: column;
        padding: 0px 40px;
    }
}