.about__section__container{
    max-width: 1200px;
    margin: 150px auto 0px auto;
}

.about__section__container h1{
    color: #3498db;
    font-size: 80px;
    text-align: right;
    margin-bottom: 20px;
}

.about__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.about__skills{
    min-width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.about__skills p{
    padding: 10px 20px;
    border: 1px solid white;
    font-size: 30px;
    flex-grow: 1;
}

.about__skills :first-child{
    width: 100%;
    background-color: #1a9ebc;
    text-align: center;
}

.about__experiance p{
    font-size: 1.2rem;
    text-align: justify;
}