.contact__section__container{
    max-width: 1200px;
    margin: 180px auto 0px auto;
}

.contact__section__container .contact__header{
    color: #e74c3c;
    font-size: 80px;
    margin-bottom: 40px;
    text-align: right;
}

.contact__content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__form h3{
    margin-bottom: 20px;
    font-size: 2rem;
}

.contact__form form input{
    border: 1px solid white;
    height: 40px;
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
}

.contact__form form textarea{
    border: 1px solid white;
    height: 100px;
    width: 100%;
    font-size: 20px;
}

::placeholder {
    color: white; 
    font-size: 20px;
    opacity: .8;
}

.submit__button{
    padding: 5px 60px;
    font-size: 1rem;
    border: 1px solid white;
    margin-top: 20px;
    display: block;
    cursor: pointer;
}

@media (max-width: 767px) {
    .contact__section__container{
        margin-top: 50px;
    }
    
    .contact__section__container .contact__header{
        text-align: center;
        font-size: 60px;
    }
    
    .contact__content{
        padding: 0px 40px;
    }
    
    .contact__form h3{
        margin-bottom: 20px;
        font-size: 1.5rem;
    }

    .contact__form form input{
        height: 30px;
        font-size: 15px;
    }
    
    .contact__form form textarea{
        font-size: 15px;
        height: 80px;
    }

    ::placeholder {
        font-size: 15px;
    }

    .submit__button{
        margin-top: 15px;
    }
    
}