.contact__section__container{
    max-width: 1200px;
    margin: 150px auto 0px auto;
}

.contact__section__container h1{
    color: #e74c3c;
    font-size: 80px;
    margin-bottom: 20px;
    text-align: right;
}

.contact__section__container h2{
    font-size: 60px;
    text-align: right;
}

.contact__content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__form h3{
    margin-bottom: 20px;
    font-size: 2rem;
}

.contact__form form input{
    border: 1px solid white;
    height: 40px;
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
}

.contact__form form textarea{
    border: 1px solid white;
    height: 100px;
    width: 100%;
    font-size: 20px;
}

::placeholder {
    color: white; 
    font-size: 20px;
    opacity: .8;
}

.submit__button{
    padding: 5px 60px;
    font-size: 1rem;
    border: 1px solid white;
    margin-top: 20px;
    display: block;
    cursor: pointer;
}