.header__section__container{
    max-width: 1200px;
    margin: 180px auto 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header__text__wrap h3:nth-child(1){
    margin-bottom: 10px;
    font-size: 2.3rem;
}

.header__text__wrap h3:nth-child(3){
    margin-bottom: 10px;
    font-size: 2rem;
}

.typing{
    color: #e74c3c;
}

.header__text__wrap h1{
    margin-bottom: 10px;
    font-size: 4rem;
}

.header__text__wrap p{
    margin-top: 20px;
    font-size: 1.2rem;
}

.header__social__icons{
    margin-top: 20px;
    margin-left: -3px;
}

.header__social__icons i{
    margin-right: 20px;
    cursor: pointer;
}

.header__social__icons i:hover{
    color: #e74c3c;
}

.header__image{
    max-width: 350px;
    border-radius: 10% 5%/5% 10%;
}

@media (max-width: 767px) {
    .header__section__container{
        flex-direction: column-reverse;
        padding: 0px 40px;
        margin-top: 50px;
        text-align: center;
    }

    .header__text__wrap h3:nth-child(1){
        margin-bottom: 5px;
        font-size: 1.4rem;
    }

    .header__text__wrap h3:nth-child(3){
        margin-bottom: 5px;
        font-size: 1.3rem;
    }
    
    .header__text__wrap h1{
        margin-bottom: 5px;
        font-size: 2rem;
    }
    
    .header__text__wrap p{
        margin-top: 10px;
        font-size: 1rem;
    }

    .header__social__icons{
        margin-left: 0px;
    }

    .header__social__icons i{
        font-size: 25px;
    }

}