.header__section__container{
    max-width: 1200px;
    margin: 150px auto 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header__text__wrap h3{
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.header__text__wrap h1{
    margin-bottom: 10px;
    font-size: 2.8rem;
}

.header__text__wrap p{
    margin-top: 20px;
    font-size: 1.2rem;
}

.header__image{
    max-width: 350px;
    border-radius: 1%;
}