.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 10px auto 0 auto;
}

.navbar__logo{
    font-size:60px;;
}

.navbar__links{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar__link{
    text-decoration: none;
    padding: 12px 40px;
}

.navbar__item:nth-child(1) .navbar__link {
    border: 4px solid #1abc9c; 
  }
  
  .navbar__item:nth-child(2) .navbar__link {
    border: 4px solid #3498db; 
  }
  
  .navbar__item:nth-child(3) .navbar__link {
    border: 4px solid #9b59b6; 
  }
  
  .navbar__item:nth-child(4) .navbar__link {
    border: 4px solid #e74c3c; 
  }
  
  .navbar__link:hover {
    opacity: 0.8; 
  }

