.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 10px auto 0 auto;
}

.navbar__logo{
    font-size:3rem;
}

.navbar__links{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar__link{
    text-decoration: none;
    padding: 10px 20px;
}

.navbar__item:nth-child(1) .navbar__link {
    background-color: #1abc9c; 
  }
  
  .navbar__item:nth-child(2) .navbar__link {
    background-color: #3498db; 
  }
  
  .navbar__item:nth-child(3) .navbar__link {
    background-color: #9b59b6; 
  }
  
  .navbar__item:nth-child(4) .navbar__link {
    background-color: #e74c3c; 
  }
  
  .navbar__link:hover {
    opacity: 0.8; 
  }

