@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  color: white;
  background-color: black;
  list-style: none;
  text-decoration: none;
}

.container{
  padding: 0px 10px;
}